.container{
    display:flex;
    align-items: center;
}
.imgPokemon{
    width: 200px;
    height: 180px;
}
h2{
    text-align: center;
}
.button{
    text-align:center;
    margin-left: 50px;
    background-color:white ;
}

